<template>
  <div>
    <expense-input
      @addExpense="addExpense">
    </expense-input>
    <expense-item
      v-for="item in expenseList"
      :key="item.id"
      :item="item"
      @deleteExpense="deleteExpense">
    </expense-item>

  </div>
</template>

<script>
  import ExpenseItem from './ExpenseItem'
  import ExpenseInput from './ExpenseInput'
export default {
  name: "ExpenseList",
  components: {
    ExpenseItem,
    ExpenseInput
  },
  data() {
    return {
      error: "",
      expenseList: [{
        id: 1,
        date: '2017-11-01',
        expense: 13
      }]
    }
  },
  methods: {
    addExpense: function(payload) {
        this.expenseList.push(payload);
    },
    deleteExpense: function(id) {
      let index = this.expenseList.map(function(item) {
        return item.id
      }).indexOf(id);
      this.expenseList.splice(index, 1);
    }
  },
  watch: {
      expenseList: function (item) {
        if (this.expenseList.length > 0) {
          let exp = this.expenseList
          this.$emit('updateList', exp)
        }
      }
  }
}
</script>

<style scoped>

</style>
