 <template>
  <div>
      <p><canvas ref="chart" width="400px" height="200px"></canvas><p></p>
      <!-- <div class="title">{{ expenses }}</div> -->
  </div>
</template>

<script>
import { Line, mixins } from 'vue-chartjs'

export default {
  props: ['expenses'],
  name: "ExpenseCharts",
  data() {
    return {
      chartDataX: [],
      chartDataY: []
      }
    },
  methods: {
    mapData: function() {
      if(this.expenses){
        this.chartDataX = [];
        this.chartDataY = [];
        this.expenses.map((item, index) => {
            this.chartDataX[index] = item.date;
            this.chartDataY[index] = parseFloat(item.expense);
      })
      }
    },
    newChart: function() {
      var chart = this.$refs.chart;
            var ctx = chart.getContext("2d");
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: this.chartDataX,
                    datasets: [{
                        label: 'Expense Tracking',
                        data: this.chartDataY,
                        pointRadius: 5,
                        backgroundColor: [
                            'rgba(255, 99, 132, 0.2)',
                            'rgba(54, 162, 235, 0.2)',
                            'rgba(255, 206, 86, 0.2)',
                            'rgba(75, 192, 192, 0.2)',
                            'rgba(153, 102, 255, 0.2)',
                            'rgba(255, 159, 64, 0.2)'
                        ],
                        borderColor: [
                            'rgba(255,99,132,1)',
                            'rgba(54, 162, 235, 1)',
                            'rgba(255, 206, 86, 1)',
                            'rgba(75, 192, 192, 1)',
                            'rgba(153, 102, 255, 1)',
                            'rgba(255, 159, 64, 1)'
                        ],
                        borderWidth: 1
                    }]
                },
                options: {
                  responsive: true,
                   title: {
                      display: true,
                      text: 'Expenses Tracking (Amount vs Date)',
                      fontSize: 25,
                      fontColor: 'skyBlue'
                  },
                  legend: {
                        display: false
                    },
                    layout: {
                          padding: {
                              left: 50,
                              right: 50,
                              top: 50,
                              bottom: 50
                          }
                      },
                    scales: {
                        xAxes: [{
                          scaleLabel: {
                            display: true,
                            labelString: 'Date',
                            fontColor: 'grey',
                            fontSize: 17,
                            fontStyle: 'bold'
                          },
                            gridLines: {
                              color: 'grey'
                            },
                            ticks: {
                                fontSize: 15
                            },
                        }],
                        yAxes: [{
                          scaleLabel: {
                            display: true,
                            labelString: 'Expense Amount ($)',
                            fontColor: 'grey',
                            fontSize: 17,
                            fontStyle: 'bold'
                          },
                            ticks: {
                                beginAtZero: true,
                                fontSize: 15
                            },
                            gridLines: {
                              color: 'grey'
                            }
                        }]
                    },
                    hover: {
                      mode: 'nearest',
                      intersect: true
                    },
                     tooltips: {
                      callbacks: {
                        label: function(tooltipItem, data) {
                            var label = data.datasets[tooltipItem.datasetIndex].label || '';

                            if (label) {
                                label += ': $';
                            }
                            label += tooltipItem.yLabel.toFixed(2);

                            return label;
                          }
                        }
                      }
                }
            });
          }
  },
  mounted () {
    this.newChart();
  },
    watch: {
        expenses: function() {
            this.mapData();
            this.newChart();
            // console.log(this.chartDataX);
            // console.log(this.chartDataY);
            // console.log(this.expenses);
        }
    }
  }
</script>

<style scoped>
div {
  color: white;
  background-color: black;
}
</style>
