<template>
  <div id="app" class="ui padded grid">
    <div class="ui row">
      <div class="twelve wide column">
        <expense-charts :expenses="expensesList"></expense-charts>
      </div>
      <div class="three wide column">
        <expense-list @updateList = "updateList"></expense-list>
      </div>
    </div>
  </div>
</template>

<script>
import ExpenseList from './components/ExpenseList'
import ExpenseCharts from './components/ExpenseCharts'

export default {
  name: 'App',
  components: {
    ExpenseList,
    ExpenseCharts
  },
  data() {
    return {
      expensesList: ""
    }
  },
  methods: {
    updateList: function(exp) {
      this.expensesList = exp;
    }
  }
}
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    color: #2c3e50;
    width: 100vw;
  }


</style>
